@import url("https://fonts.googleapis.com/css?family=Barriecito|Montserrat:300&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.first,
.second,
.third,
.fourth {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 97%;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.first .content,
.second .content,
.third .content,
.fourth .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first .content h3,
.second .content h3,
.third .content h3,
.fourth .content h3 {
  font-family: 'Barriecito', cursive;
  font-size: 2em;
  color: aliceblue;
}

.first .content p,
.second .content p,
.third .content p,
.fourth .content p {
  padding: 10px;
  background: rgba(27, 25, 25, 0.301);
  color: white;
  width: 50%;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.index {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 3%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

@media (max-width: 780px) {
  .index {
    margin: 0;
    width: 10%;
  }
}

.fourth {
  -webkit-clip-path: polygon(3% 0%, 3% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(3% 0%, 3% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 0%);
  background-color: #2F394D;
  border: solid thick #E71D36;
  z-index: 4;
}

.fourth .content {
  background: url("images/front.png") repeat 35% 35%;
}

@media (max-width: 780px) {
  .fourth {
    margin: 0;
    -webkit-clip-path: polygon(10% 0%, 10% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(10% 0%, 10% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 0%);
  }
}

.fourth .index {
  top: 80%;
}

.third {
  -webkit-clip-path: polygon(3% 0%, 3% 60%, 0% 60%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(3% 0%, 3% 60%, 0% 60%, 0% 100%, 100% 100%, 100% 0%);
  background-color: #E71D36;
  border: solid thin #2F394D;
  z-index: 3;
}

.third .content {
  background: url("images/front.png") repeat 35% 35%;
}

@media (max-width: 780px) {
  .third {
    -webkit-clip-path: polygon(10% 0%, 10% 60%, 0% 60%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(10% 0%, 10% 60%, 0% 60%, 0% 100%, 100% 100%, 100% 0%);
    margin: 0;
  }
}

.third .index {
  top: 60%;
}

.second {
  -webkit-clip-path: polygon(3% 0%, 3% 40%, 0% 40%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(3% 0%, 3% 40%, 0% 40%, 0% 100%, 100% 100%, 100% 0%);
  background-color: #2E294E;
  z-index: 2;
}

.second .content {
  background: url("images/front.png") repeat 35% 35%;
}

@media (max-width: 780px) {
  .second {
    -webkit-clip-path: polygon(10% 0%, 10% 40%, 0% 40%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(10% 0%, 10% 40%, 0% 40%, 0% 100%, 100% 100%, 100% 0%);
    margin: 0;
  }
}

.second .index {
  top: 40%;
}

.first {
  -webkit-clip-path: polygon(3% 0%, 3% 20%, 0% 20%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(3% 0%, 3% 20%, 0% 20%, 0% 100%, 100% 100%, 100% 0%);
  background-color: #7C9EB2;
  border: solid thick #2F394D;
  z-index: 1;
}

.first .content {
  background: url("images/front.png") repeat 35% 35%;
}

@media (max-width: 780px) {
  .first {
    -webkit-clip-path: polygon(10% 0%, 10% 20%, 0% 20%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(10% 0%, 10% 20%, 0% 20%, 0% 100%, 100% 100%, 100% 0%);
    margin: 0;
  }
}

.first .index {
  top: 20%;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main header {
  width: 10em;
  height: 2em;
  border: solid thin #918e8e;
  text-align: center;
  padding: 13px 2px 0 2px;
  margin: 2em;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(216, 216, 216, 0.562);
          box-shadow: 0px 1px 2px 2px rgba(216, 216, 216, 0.562);
  border-radius: 5px;
}
/*# sourceMappingURL=test.css.map */